@font-face {
    font-family: myFirstFont;
    src: url(HustlersRoughDemo.ttf);
   }
.nav{
    background: #433633;

}
body{
    background: #decbb7;
    
    /* background-image: url("blue.jpg");  */
    font-family: 'Sancreek', cursive;
}
button{
    float: right;

}
.main{
    position: relative;
    top: 15px;
    background: #f5f5f5;
    font-family: ;
    
}

.map{
    background: white;
    height: 500px;
}
.forum{
    overflow: scroll;
}

.formPost{
    background: #F7F0F5;
    border-left: 3px solid grey;
    height: 33%;
   
    /* background-image: url("retro.jpg"); */
}
