@font-face {
    font-family: myFirstFont;
    src: url(HustlersRoughDemo.ttf);
}

body{
    background: #decbb7;
    font-family: 'Roboto', condensed;
}

.nav{
    background: #433633;
}

.main{
    position: relative;
    top: 15px;
    background: #f5f5f5;
}

.map{
    background: white;
    height: 500px;
}

.formPost{
    border-left: 3px solid grey;
    background: white;
}

.formPost{
    background: #F7F0F5;
    border-left: 3px solid grey;
    /* height: 33%; */
}









